{% extends "base.html" %}
{% block content %}
<p style="margin-bottom: 10px;"><img src="{{ STATIC_URL }}graphic/cuckoo.png" /></p>

<div class="alert alert-info" style="text-align: center;font-size: 22px;">
    Estimating ~<b>{{report.estimate_hour}}</b> analysis per hour, <b>{{report.estimate_day}}</b> per day.
</div>

<!--- CuckooMX -->

<div class="row">
    <div class="col-xs-6">
        <div class="jumbotron" style="text-align: center;">
            <h1>{{report.total_mails}}</h1>
            Total mails
        </div>
    </div>
    <div class="col-xs-6">
        <div class="jumbotron" style="text-align: center;">
            <h1>{{report.total_malwares}}</h1>
            Total malwares
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <div class="jumbotron" style="text-align: center;">
            <h1>{{report.total_attachments}}</h1>
            Total attachments
        </div>
    </div>
    <div class="col-xs-6">
        <div class="jumbotron" style="text-align: center;">
            <h1>{{report.total_urls}}</h1>
            Total urls
        </div>
    </div>
</div>

<!--- CuckooMX -->

<style type="text/css">
.signature {
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 5px;
}

.signature-process {
    background-color: #d9edf7;
    font-weight: bold;
}

.sign-key {
    font-weight: bold;
}
</style>
<section id="mails">
    <h3>Mails</h3>
    {% if report.mails_have_malwares %}
        {% for mail in report.mails_have_malwares %}
            <a style="text-decoration: none;" href="#mail_{{mail.id}}" data-toggle="collapse">
            {% if mail.status > 1 %}
                <div class="alert alert-danger signature">
            {% elif mail.status == 1 %}
                <div class="alert alert-warning signature">
            {% endif %}
            Mail #{{mail.id}} &#40;{{mail.status}}&#41;</div></a>
            
            <div id="mail_{{mail.id}}" class="collapse">
                <div class="panel panel-primary" style="margin-left: 25px">
                    <div class="panel-heading">
                        <h4 class="panel-title">Mail Details</h4>
                    </div>
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th>ID</th>
                                <td>{{mail.id}}</td>
                            </tr>
                            <tr>
                                <th>Date created</th>
                                <td>{{mail.date_created}}</td>
                            </tr>
                            <tr>
                                <th>Date ended</th>
                                <td>{{mail.date_ended}}</td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <td>{{mail.status}}</td>
                            </tr>
                            <tr>
                                <th>Path</th>
                                <td>{{mail.path}}</td>
                            </tr>
                            <tr>
                                <th>Date</th>
                                <td>{{mail.date}}</td>
                            </tr>
                            <tr>
                                <th>Sender</th>
                                <td>{{mail.sender}}</td>
                            </tr>
                            <tr>
                                <th>Sender IP</th>
                                <td>{{mail.sender_ip}}</td>
                            </tr>
                            <tr>
                                <th>Subject</th>
                                <td>{{mail.subject}}</td>
                            </tr>
                            <tr>
                                <th>Receiver</th>
                                <td>{{mail.receiver}}</td>
                            </tr>
                            <tr>
                                <th>CC</th>
                                <td>{{mail.cc}}</td>
                            </tr>
                            <tr>
                                <th>Content-Length</th>
                                <td>{{mail.content_length}}</td>
                            </tr>
                            <tr>
                                <th>Content</th>
                                <td>
                                {% for element in mail.content %}
                                    {{element}}
                                    <br><br>
                                {% endfor %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                {% for task in mail.tasks %}
                    <a style="text-decoration: none;" href="#task_{{task.task_id}}" data-toggle="collapse">
                    {% if task.severity < 1 %}
                        <div class="alert alert-info signature" style="margin-left: 25px">
                    {% elif task.severity == 1 %}
                        <div class="alert alert-warning signature" style="margin-left: 25px">
                    {% elif task.severity > 1 %}
                        <div class="alert alert-danger signature" style="margin-left: 25px">
                    {% endif %}
                    Task #{{task.task_id}} - Severity {{task.severity}}</div></a>

                    <div id="task_{{task.task_id}}" class="collapse panel panel-default"  style="margin-left: 25px">
                        <table class="table table-striped" style="table-layout: fixed;">
                            <tbody>
                                <tr>
                                    <th>Task ID</th>
                                    <td><a href="/analysis/{{task.task_id}}">{{task.task_id}}</a></td>
                                </tr>
                                <tr>
                                    <th>Severity</th>
                                    <td>{{task.severity}}</td>
                                </tr>
                                {% if task.url %}
                                    <tr>
                                        <th>URL</th>
                                        <td>{{task.url}}</td>
                                    </tr>
                                    <tr>
                                        <th>Date checked</th>
                                        <td>{{task.date_checked}}</td>
                                    </tr>
                                {% elif task.attachment %}
                                    <tr>
                                        <th>Attachment</th>
                                        <td>{{task.attachment}}</td>
                                    </tr>
                                    <tr>
                                        <th>SHA256</th>
                                        <td>{{task.sha256}}</td>
                                    </tr>
                                    <tr>
                                        <th>Date checked</th>
                                        <td>{{task.date_checked}}</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <p>No malware</p>
    {% endif %}
</section>

{% endblock %}
